@model WorldLibrary.Web.Models.BookReturnViewModel
@{
    ViewData["Title"] = "Cancel";
}

<h1>Cancel Reserve</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Cancel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" asp-items="Model.Books" class="form-control"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>
