@model WorldLibrary.Web.Models.AddReserveViewModel
@{
    ViewData["Title"] = "EditAppointment";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<flash dismissable="true" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReserve" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" asp-items="Model.Books" class="form-control"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookDate" class="control-label"></label>
                <input asp-for="BookDate" class="form-control" id="DateSelected" />
                <span asp-validation-for="BookDate" class="text-danger"></span>
            </div>
            @*  <div class="form-group">
            <label asp-for="BookDate" class="control-label"></label>
            <div class="input-group date" data-provide="datepicker">
            <input type="text" asp-for="BookDate" class="form-control">
            <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <span asp-validation-for="BookDate" class="text-danger"></span>
            </div>
            </div>*@
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" id="DateSelected" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="DeliveryDate" class="control-label"></label>
            <div class="input-group date" data-provide="datepicker">
            <input type="text" asp-for="DeliveryDate" class="form-control">
            <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            </div>*@
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

