
@{
    ViewData["Title"] = "About";
}
<br />
<br />
<!-- about -->
<div class="about-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="abouttitle">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="aboutheading">
                    <span>Welcome to World Library, The best library in the world! </span>
                </div>
            </div>
        </div>
        <div class="row border">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="about-box">
                    <p> We welcome learners of all ages to the World Library, from school students and teachers to families and community groups. Our collection – filled with treasures including ancient manuscripts, world maps, historic newspapers, music recordings, and contemporary photographs – is at the heart of our unique learning programme which offers a range of opportunities to explore, connect and interact both onsite, online and nationally.</p>
                  
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="about-box">
                    <figure><img src="images/about.png" alt="img" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
<!-- end about -->

