@model IEnumerable<WorldLibrary.Web.Data.Entities.Forum>


@{
    ViewData["Title"] = "Forum";
}
<br />
<br />
<br />
<br />
<br />
<br />

 <div class="container justify-content-center">
        <h1>Forum</h1>
        <h4>Leave your comment or a suggestion</h4>
        <aside id="sidebar">
            <div class="dark">
            <form asp-action="Forum" class="forum" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="name">Name:</label><br />
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                        <label for="email">Email:</label><br />
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div>
                        <label for="menssage">Menssage:</label><br />
                        <textarea name="menssage" id="mensagem" required></textarea>
                    </div>
                    <div>
                        <label for="assessment">Assessment (1 a 5 stars):</label>
                        <input type="number" name="assessment" id="assessment" min="1" max="5" required>
                    </div>
                    <br />
                    <button type="submit" class="send-btn">Send</button>
                </form>
            </div>
        </aside>
    </div>
<div>
    <br />
    <br />
    <table class="table">
        <tbody>
        <thead>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Assessment</th>
                <th>Date</th>

            </tr>
        </thead>
            @foreach (var forum in Model)
            {
            <tr>
                <td>Name: @forum.Name</td>
                <td>Message: @forum.Menssage</td>
                <td>Assessment: @forum.Assessment</td>
                <td>Date:@forum.Date</td>
            </tr>

            }
        </tbody>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }
}
