@model WorldLibrary.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_Layout"; // Especifica o layout a ser usado
}
<br />
<br />
<br />
<br />
<br />
<br />
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="col-md-5 offset-md-4 ">
                    <div class="widget p-5" style="background-color: #D9BAC9">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <label asp-for="OldPassword">Current Password</label>
                                <input asp-for="OldPassword" type="password" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword">New Password</label>
                                <input asp-for="NewPassword" type="password" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Confirm">Confirm</label>
                                <input asp-for="Confirm" type="password" class="form-control" />
                                <span asp-validation-for="Confirm" class="text-warning"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ChangePassword" class="btn btn-primary" />
                                <a asp-action="ChangeUser" class="btn btn-success">Back to user</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    }
}

