@model WorldLibrary.Web.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<br />
<br />
<br />
<br />
<br />
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="col-md-5 offset-md-4 ">
                    <div class="widget p-5" style="background-color: #D9BAC9">
                        <form method="post">
                            <div asp-validation-summary="All"></div>
                            <input type="hidden" asp-for="Token" />

                            <div class="form-group">
                                <label asp-for="Username">Email</label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">New password</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Reset password" class="btn btn-primary" />
                            </div>

                        </form>
                        <div class="text-success">
                            <p>
                                @ViewBag.Message
                            </p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    }
}



